.footer-container {
    padding: 10px 40px;
    height: 65px;
    background-color: rgb(230, 230, 230);
    color: rgb(111, 111, 111);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .footer-container p{
    padding: 20px auto;
  }
  .social-media {
    display: flex;
    margin-right: 10px;
  }
  .social-media img {
    width: 100px;
    object-fit: contain;
    margin-left: 20px;
  }
  .social-media img:hover {
    opacity: 0.7;
  }
