* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(252, 239, 239);
}
.header {
  /* height: 100px; */
  padding: 10px;
  background-color: rgb(47, 153, 196);
  font-family: Arial;
  color: white;
  font-size: 26px;
}


