.travel-journal {
    font-family: Arial;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0px 50px;
    padding: 20px;
    border-bottom: 1px solid rgb(216, 215, 215);
}
.travel-image {
    width: 200px;
    height: 250px;
    margin-right: 20px;
    background-color: green;
    border-style: none;
    border-radius: 8px;
    object-fit: cover;
}
.travel-info {
    width: 700px;
    /* display: flex; */
}
.location-info {
    width: 500px;
    display: flex;
    align-items: center;
}
.location-info--symbol {
    width: 20px;
}
.location-info--country {
    font-size: 15px;
    margin-right: 10px;
}
.location-info--map {
    color: rgb(94, 92, 92);
}
.travel-memo {
   /* line-height: 26px; */
}
.travel-memo h2 {
    font-size: 32px;
    font-weight: ;
    margin-bottom: 20px;
    

}.travel-memo h5 {
    font-weight: bold;
    margin-bottom: 10px;   
}
.travel-memo p {
    /* line-height: 10px; */
    color: rgb(94, 92, 92);
}