.travel-journal {
    display: flex;
    align-items: flex-start;
    /* justify-content: start; */
    padding: 20px 60px;
    border-top: 1px solid rgb(216, 215, 215);
    background-color: white;
}
.journal-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 20px;
}
.travel-image {
    border-style: none;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}
.location-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.location-info--icon {
    width: 14px;
    margin-right: 4px;
}
.location-info--country {
    margin-right: 10px;
}
.location-info--map {
    color: rgb(94, 92, 92);
    cursor: pointer;
}
.location-info--map:hover {
    opacity: 0.7;
}
.travel-memo {
   /* line-height: 26px; */
}
.travel-memo h3 {
    margin-bottom: 20px;  
    text-align: center;
}
.travel-memo h5 {
    margin-bottom: 10px; 
    font-weight: bold;
}
.travel-memo p, h5 {
    color: rgb(94, 92, 92);
    line-height: 30px;
    text-align: justify;
    text-justify: auto;
}

@media (max-width: 700px) {
    .travel-journal {
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    .travel-image {
        width: 400px;
        height: 250px;
    }
    .travel-memo h3 {
        margin-bottom: 20px;  
        margin-top: 10px; 
    }
    .location-info {        
        align-items: center;
        justify-content: center;
    }
    .travel-memo h2 {
        font-size: 22px;
    }
    .travel-memo p, h5 {
        margin: 0px 10px;
    }
}